#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
*.swp
*~.nib
local.properties
.classpath
.loadpath

# CDT-specific
.cproject

# PDT-specific
.buildpath
*.class